body {
  display: flex;
  justify-content: center;
  background-color: beige;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  font-size: 1.5rem;
}

input,
select {
  margin-top: 5px;
  font-size: 1.5rem;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

input:invalid {
  border-color: #990000;
  background-color: #ffdddd;
}

input:focus:invalid {
  outline: none;
}

input:valid {
  border-color: green;
  background-color: rgba(60, 255, 0, 0.676);
}
